@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
  font-family: Roboto; /*Cuprum*/
  margin: 0;
  padding: 0;
}

body,
td,
th,
p {
  font-size: 11pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
  height: 100%;
}

ul,
li {
  font-size: 11pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img{
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

.footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* ====================== Navigation ====================== */

nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
  display: flex;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 15pt;
  font-weight: 600;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
    padding: 15px 0;
    list-style: none;
    background-color: #eee;
    margin: 0;
    width: 100%;
    text-align: center;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    font-size: 23px;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
    font-size: 23px;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 100%;
  height: 80px;
  background-color: #3397DB;
}

.filter-wrap {
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.filter-options h2 {
  color: white;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1;
  width: 215px;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 0 20px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(8em, auto);
}

#restaurants-list li {
  background-color: #fff;
  padding: 25px;
  text-align: left;
  margin: 20px;
  -webkit-box-shadow: 0px 2px 5px 1px #CCC;
  box-shadow: 0px 2px 5px 1px #CCC;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 33vw;
  height: 20vw;
  max-width: 100%;
}

#restaurants-list li h1 {
  color: #f18200;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 400px;
  position: absolute;
  right: 0;
  top: 150px;
  width: 100%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: #f18200;
  font-size: 18pt;
  font-weight: 400;
  letter-spacing: 0;
  margin: 20px 0 20px;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
}

#restaurant-img {
  width: 80%;
  height: 45vw;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
}

#restaurant-container {
  position: relative;
  top: 550px;
  text-align: center;
  padding-bottom: 25px;
}

#reviews-container {
  position: relative;
  top: 549px;
  padding-bottom: 70px;   /* Height of the footer */
}

#reviews-container h2 {
  margin: 0;
  color: #f58500;
  font-size: 24pt;
  font-weight: 400;
  padding: 10px;
  text-align: center;
}

#restaurant-hours {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

#restaurant-hours td {
  color: #666;
  text-align: right;
}

#restaurant-hours .day-col {
  text-align: right;
  padding: 0 50px;
  width: 50%;
}
#restaurant-hours .time-col {
  text-align: left;
  padding: 0 40px;
  width: 50%;
}

#reviews-list {
  margin: 0;
  padding: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  padding: 0 20px 20px;
  position: relative;
  width: 100%;
}

#reviews-list li p {
/*  margin: 0 0 10px;
*/}

/* Queries */
@media screen and (max-width: 600px) {
  #restaurants-list {
    width: 100%;
  }
  #restaurants-list .restaurant-img {
    width: 83.5vw;
    height: 55vw;
  }
}

@media screen and (min-width: 601px) and (max-width: 949px) {
  #restaurants-list .restaurant-img {
    width: 65.5vw;
    height: 43vw;
  }
}

@media screen and (max-width: 650px) {
  .filter-options h2 {
    margin: 5px 20px;
  }
  .filter-options select {
    margin: 5px 20px;
  }
  .filter-options {
    height: 130px;
  }
}

@media screen and (max-width: 950px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .filter-options h2 {
    width: 100%;
  }
}