@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
  font-family: Roboto; /*Cuprum*/
  margin: 0;
  padding: 0;
}

body,
td,
th,
p {
  font-size: 11pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #f3f3f3;
  margin: 0;
  position: relative;
  height: 100%;
}

ul,
li {
  font-size: 11pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img{
  border: none 0px #fff;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.footer {
  position: fixed;
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  bottom: 0;
  width: 100%;
}

/* ====================== Navigation ====================== */

nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
  display: flex;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 15pt;
  font-weight: 600;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
    padding: 15px 0;
    list-style: none;
    background-color: #eee;
    margin: 0;
    width: 100%;
    text-align: center;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    font-size: 23px;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
    font-size: 23px;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
  border-bottom: 1px solid #fff;
}
/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 100%;
  background-color: #3397DB;
  padding: 12px;
  border-bottom: 1px solid #fff;
}

.filter-wrap {
  width: 90%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.filter-options h2 {
  color: white;
  font-size: 1.7em;
  font-weight: normal;
  line-height: 1;
  width: 30%;
  margin: 0;
  padding: 10px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 9px 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 0 100px;
}

/* Style grid layout */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(8em, auto);
}

#restaurants-list li {
  background-color: #fff;
  padding: 12px;
  text-align: left;
  margin: 6px;
  -webkit-box-shadow: 0px 2px 5px 1px #CCC;
  box-shadow: 0px 2px 5px 1px #CCC;
}

#restaurants-list .restaurant-imgs {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
  height: 13vw;
}

#restaurants-list li h1 {
  color: #f18200;
  font-size: 13pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1;
  margin: 15px 0 7px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 10px 0 0;
  padding: 6px 15px 6px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.maincontent {
  position: relative;
}

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 400px;
  position: absolute;
  right: 0;
  top: 150px;
  width: 100%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: #f18200;
  font-size: 19pt;
  font-weight: 400;
  letter-spacing: 0;
  padding: 21px 0;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
}

#restaurant-img,
#restaurant-cuisine {
  box-shadow: 0px 2px 5px 1px #CCC;
  box-shadow: 0px 2px 5px 1px #CCC;
}

#restaurant-img {
  width: 100%;
  height: 37vw;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}

#form-container {
  position: relative;
  top: 545px;
  padding: 25px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

#restaurant-container {
  border-bottom: 1px solid #d9d9d9;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

#restaurant-container {
  position: relative;
  top: 550px;
  text-align: center;
  padding-bottom: 25px;
}

#reviews-container {
  position: relative;
  top: 549px;
  padding-bottom: 90px;
  border-top: 1px solid #fff;
}

#reviews-container h2 {
  margin: 0;
  color: #f58500;
  font-size: 24pt;
  font-weight: 400;
  padding: 10px;
  text-align: center;
}

#restaurant-hours {
  width: 100%;
}

#restaurant-hours td {
  color: #666;
  text-align: right;
}

#restaurant-hours .day-col {
  text-align: right;
  padding: 0 20px;
  width: 50%;
}
#restaurant-hours .time-col {
  text-align: left;
  padding: 0 10px;
  width: 50%;
}

#reviews-list {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  position: relative;
}

#reviews-list div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #444;
  margin: 0;
  padding: 0;
  padding: 9px 20px;
}

#reviews-list .review-name {
  font-size: 15pt;
  color: white;
}

#reviews-list .review-date {
  color: #ccc;
  font-size: 12pt;
}

.review-rating {
  width: 6.5em;
  text-align: center;
  background: #FDA428;
  margin: 10px 20px;
  padding: 4px 0 !important;
  border-radius: 3px;
  color: white;
}

#reviews-list > li > p {
  padding: 10px 20px;
}

/* Queries */

@media screen and (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  #restaurant-img {
    height: 52vw;
  }
  #restaurants-list .restaurant-imgs {
    height: 50vw;
  }
}

@media screen and (min-width: 501px) and (max-width: 900px) {
  #restaurant-img {
    height: 45vw;
  }
  #restaurants-list .restaurant-imgs {
    height: 25vw;
  }
  #restaurants-list li {
    padding: 10px;
    margin: 6px;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 901px) and (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  #restaurants-list .restaurant-imgs {
    height: 17vw;
  }
}

@media screen and (max-width: 901px) {
  #restaurant-container,
  #reviews-list {
    width: 80%;
  }
}

@media screen and (max-width: 950px) {
  .filter-options h2 {
    width: 100%;
  }
}