{
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "rules": {
      "indent": [
          "error",
          2
      ],
      "quotes": [
          2,
          "single"
      ],
      "linebreak-style": 0,
      "semi": [
          2,
          "always"
      ],
      "no-console":
          "off",
  },
  "env": {
      "browser": true
  },
  "extends": "eslint:recommended"
}